<h3 class="game-name">{{game.name}}</h3>
<h4>Summary</h4>
{{#if game.summary}}
      <p>{{game.summary}}</p>
    {{else}}
      <p>No summary provided.</p>
    {{/if}}
<h4>Storyline</h4>
{{#if game.storyline}}
      <p>{{game.storyline}}</p>
    {{else}}
      <p>No storyline provided.</p>
    {{/if}}
<img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{game.cover.cloudinary_id}}.jpg"
 alt="screen shot">

<h4 class="message hbs-message"></h4>

{{!-- button to post to attempt to post to games table followed by a post to
  wanted games --}}
<button id="post-game" type="submit" class="btn btn-success"
 name="post-game-btn">Add to Wishlist</button>
{{!-- back button to move to previous view --}}
<button type="submit" class="back-btn btn btn-secondary"
 name="back-button">Back</button>
