
<h3 class="game-name">{{game.game_name}}</h3>
<h4>Summary</h4>
{{#if game.summary}}
      <p>{{game.summary}}</p>
    {{else}}
      <p>No summary provided.</p>
    {{/if}}
<h4>Storyline</h4>
{{#if game.storyline}}
      <p>{{game.storyline}}</p>
    {{else}}
      <p>No storyline provided.</p>
    {{/if}}
{{!-- use the 3rd party api website to get the image using the cloudinary_id--}}
<img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{game.cloudinary_id}}.jpg"
 alt="screen shot">

<h4 class="message hbs-message"></h4>

{{!-- button to post to a wanted game --}}
<button id="post-wanted-game" type="button" class="btn btn-success"
 name="post-wanted-game-btn">Add to Wishlist</button>
{{!-- back button to move to previous screen  --}}
<button type="button" class="back-btn btn btn-secondary"
 name="back-button">Back</button>
